 *, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;                        /* all numbers Poppins with default of sans-serif*/
    font-weight: normal;                                       /* set font boldness to normal */
}

.slider {                                       /* For the image to be animated... */
    position: absolute;                         /* to place the div on top of everything, set position to absolute (out side normal flow) */
    top: 0;                                     /* set top to 0...*/
    left: 0;                                    /* set left to 0 so picture is top left now. */
    width: 100%;                                /* For full screen, set width to 100%...*/
    height: 100vh;                              /* with the slider being 100 percent of the viewport size. */ 
    background: linear-gradient(to right, rgb(177, 178, 189), rgb(165, 168, 149));      /* background color */
    z-index: -1;                                /* and set z-index to -1 to have it be behind all the other elements.*/
}

nav {
    display: grid;                                            /* *display set to grid */
    grid-template-columns:  10% 1fr 1fr 10%;                  /* creates 4 columns that we can place our elements in (bascially, 10% is the side padding, the 1frs are for the nav content). */
    min-height: 10vh;                                         /* and the nav area will be 10% of the viewport size*/
    color: white;                                          /* and the text will be white.*/
    align-items: center;                                     /* and lastly, align items in the center so they are level*/
} 

#logo {                                                       /* for the logo "collab" */
    grid-column: 2/3;                                         /* place the logo between the second and third grid (which would really be the second column of 4 that we have) */
    font-size: 24px;
}

.links {                                                      /* for the links*/
    justify-self: end;                                        /* justify the position of the links at the end of the column (i.e. far right). */ 
}

.hero img {                                                   /* for the main hero image...*/
    width: 100%;                                               /* setting the height and width to 100% will stick the image to the size of the container so we know where we are at with it. */
    height: 100%;
}

section {                                                     /* For the section that holds the collab image and the subtitles ...*/
    display: flex;                                            /* set display to felx so everything is side by side...*/
    height: 80vh;                                             /* and set the height so its 80% of the viewport (remember that the nav takes 10% already) */
    justify-content: center;                                  /* centering the image */
    align-items: center;                                      /* centering the image */       
}