 *, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;                        /* all numbers Poppins with default of sans-serif*/
    font-weight: normal;                                       /* set font boldness to normal */
}

.slider {                                       /* For the image to be animated... */
    position: absolute;                         /* to place the div on top of everything, set position to absolute (out side normal flow) */
    top: 0;                                     /* set top to 0...*/
    left: 0;                                    /* set left to 0 so picture is top left now. */
    width: 100%;                                /* For full screen, set width to 100%...*/
    height: 100vh;                              /* with the slider being 100 percent of the viewport size. */ 
    background: linear-gradient(to right, rgb(177, 178, 189), rgb(165, 168, 149));      /* background color */
    z-index: -1;                                /* and set z-index to -1 to have it be behind all the other elements.*/
}

nav {
    display: grid;                                            /* *display set to grid */
    grid-template-columns:  10% 1fr 1fr 10%;                  /* creates 4 columns that we can place our elements in (bascially, 10% is the side padding, the 1frs are for the nav content). */
    min-height: 10vh;                                         /* and the nav area will be 10% of the viewport size*/
    color: white;                                          /* and the text will be white.*/
    align-items: center;                                     /* and lastly, align items in the center so they are level*/
} 

#logo {                                                       /* for the logo "collab" */
    grid-column: 2/3;                                         /* place the logo between the second and third grid (which would really be the second column of 4 that we have) */
    font-size: 24px;
}